@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&family=Changa:wght@400;500;600;700&family=Allison&family=Baloo+2:wght@400;500;600&display=swap');

@font-face {
    font-family: "dubai";
    src: url('/fonts/DubaiW23-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

.gallery {
    color: white;
    height: fit-content;
    position: relative;
    // margin-left: -2rem;
}

.heading {
    // padding-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.gg {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    font-size: 5vw;
    color: #00F0FF;
}

.checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
   
}

.button {
    border-radius: 114.57px;
    border: 0.63px #B6B6B6 solid;
    width: 9vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.co_text{
     font-size: 1.3vw;
}
.dribble{
    border-radius: 114.57px;
    border: 0.63px #B6B6B6 solid;
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery_container {
    // position: absolute;
    // height: 100rem;
    // background-image: url("/bg-gg-2.svg");
    padding-top: 5vw;
    
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    
}


.left_container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;

}

.img_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

}

.child{
    background-size: cover;
    transition: all 1.1s;
}
.img_content:hover .child{
    transform: scale(1.2);
}


.image {
    width: 20vw;
    height: 30vw;
    z-index: 5;
}

.right_container {
    color: white;
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    gap: 30vw;
    flex-direction: column;
    position: relative;
}
.txt_right1,.txt_right2,.txt_right3,.txt_right4{
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 2vw;
    position: relative;
    font-family: 'Baloo 2', cursive;
    font-size: 1.5vw;

}
