.section{
    padding: 5vw;
    width: 100%;
    height: 100vh;
}
.about{
    width: 100%;
    height: 100vh;
}


.heading 
{

    p{
        color: aqua;
    }
    span{
        color: white;
    }
    
}
.content {
    p{
        color: white;
    }
    .tanvi{
        color: yellow;
    }
    span{
        color: aqua;
    }
}
