@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');

.section {
    padding-left: 3vw;
    width: 100%;
    height: 100vh;
    position: relative;
}

.about {
    width: 100%;
    height: 100vh;
    position: relative;
    // top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dot_img1 {
    top: 15vw;
    background-image: url(/aboutme/dot.svg);
    /* background-size: 11vw; */
    width: 8vw;
    height: 8vw;
    background-repeat: no-repeat;
    z-index: -111;
    position: absolute;
    right: 37vw;
}
.dot_img2 {
    top: 28vw;
    background-image: url(/aboutme/dot.svg);
    /* background-size: 11vw; */
    width: 8vw;
    height: 8vw;
    background-repeat: no-repeat;
    z-index: -111;
    position: absolute;
    right: -3vw;
}
.bubble4 {
    height: 1vw;
    right: 29vw;
    /* position: fixed; */
    bottom: 0vw;
    width: 1vw;
    background-color: rgb(254, 143, 169);
    position: absolute;
    border-radius: 50%;
}
.bubble5 {
    height: 2vw;
    width: 2vw;
    /* position: fixed; */
    right: 35vw;
    bottom: 36vw;
    background-color: rgb(254, 143, 169);
    position: absolute;
    border-radius: 50%;
}
.bubble6 {
    height: 2vw;
    width: 2vw;
    /* position: fixed; */
    right: 9vw;
    top: 1vw;
    background-color: rgba(254, 143, 169, 1);
    position: absolute;
    border-radius: 50%;
}

.left {
    position: relative;
}

.bubble1 {
    height: 4vw;
    right: 9vw;
    /* position: fixed; */
    bottom: 18vw;
    width: 4vw;
    background-color: rgb(126, 168, 231);
    position: absolute;
    border-radius: 50%;
}

.bubble2 {
    height: 4vw;
    right: 27vw;
    /* position: fixed; */
    top: 32vw;
    width: 4vw;
    background-color: rgb(126, 168, 231);
    position: absolute;
    border-radius: 50%;
}

.bubble3 {
    height: 2.5vw;
    right: 5vw;
    /* position: fixed; */
    top: 28vw;
    width: 2.5vw;
    background-color: rgba(254, 143, 169, 1);
    position: absolute;
    border-radius: 50%;
}

.heading {


    font-family: 'Space Grotesk', sans-serif;

    p {
        color: aqua;
        font-size: 5vw;
    }

    span {
        color: white;
    }

}

.content_div {
    -webkit-backdrop-filter: blur(25.2px) brightness(100%);
    backdrop-filter: blur(25.2px) brightness(100%);
    background-color: #ffffff30;
    border: 1px solid;
    border-color: #ffffff42;
    border-radius: 10px;
    height: 20vw;
    left: 0;
    // position: fixed;
    top: 0;
    width: 40vw;
}

.btns {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    margin-top: 3vw;
    margin-left: 3vw;
    gap: 3rem;
}

.resume {
    background-color: #00ffef7a;
    border: 1px solid;
    border-color: #ffffff85;
    border-radius: 5px;
    height: 3vw;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 10vw;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease all;
    cursor: pointer;
    p {
        font-size: 1vw;
        font-weight: 400;
        color: white;
    }


}

.resume:hover {
    background-color: #0e534e7a;
    border: 1px solid;
    border-color: #ffffff85;
    border-radius: 5px;
    height: 3vw;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 10vw;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    p {
        font-size: 1vw;
        font-weight: 400;
        color: white;
    }


}

.download {
    color: rgba(77, 0, 46, 1);
    font-size: 3vw;

}

.connect {
    background-color: #00ffef7a;
    border: 1px solid;
    border-color: #ffffff85;
    border-radius: 3px;
    height: 3vw;
    overflow-x: hidden;
    position: relative;
    width: 10vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease all;

    p {
        font-size: 1vw;
        font-weight: 400;
        color: white;
    }

}

.connect:hover {
    background-color: #0e534e7a;
    border: 1px solid;
    border-color: #ffffff85;
    border-radius: 3px;
    height: 3vw;
    overflow-x: hidden;
    position: relative;
    width: 10vw;
    color: rgba(255, 255, 255, 0.957);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    p {
        font-size: 1vw;
        font-weight: 400;
        color: white;
    }

}

.content {
    padding: 2vw 2vw 2vw 2vw;

    p {
        color: white;
        font-size: 1vw;
    }

    .tanvi {
        color: yellow;
    }

    span {
        color: aqua;
    }
}