.sidebar__wrapper {

  padding: 10px;
}

// aside
// {
//     position: fixed;
//     width: 200px;
//     height: 100%;
//     top: 0;
//     left: 0;
//     border: 1px solid #111;
// }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100vh;
  // background-color: #000E22;
  color: white;
  z-index: 9999;

}



.sidebar__logo {
  size: 2rem;
  padding: 1rem;
  object-fit: contain;
  display: flex;
  justify-content: center;
  // border-radius: 1rem;
  color: white;

}

.sidebar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__link {
  display: inline-block;
  font-size: 1rem;

  text-decoration: none;
  color: #ffffff;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: var(--color-sidebar-item);
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  display: inline-block;
  align-items: center;
  font-size: 0.8rem;

}


//   .sidebar__link--active {
//     color: #fffafa;

//   }


.sidebar__list__bottom {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}